################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3DPrinterSim/.vs/3DPrinterSim/v15
/3DPrinterSim/obj/Debug
